*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: auto;
}

/* Headers */
header{
    width:100%;
}

header#main-header{
    height: 100px;
    background-color: pink;
    margin-top: 20px;
    border-radius: 10px;
}

header#secondary-header{
    height: 300px;
    background-color: burlywood;
    margin: 20px 0;
    border-radius: 10px;
}

header#little-blueheader{
    height: 150px;
    background-color: lightblue;
    border-radius: 10px 10px 0 0;
}

/* Web-site contents */

#main-contents{
    background-color: blue;
}

.clearfix::after{
    content:'';
    clear: both;
    display: table;
}

main{
    height: 600px;
    background-color: lightblue;
    width: calc(50% - 20px);
    margin: 10px;
    float: left;
}

.aside{
    width: 25%;
    margin-top: 10px;
    height: 600px;
    background-color: lightblue;
    float: left;
}

/* Footer */
footer{
    height: 80px;
    background-color: purple;
    margin: 20px 0;
    border-radius: 10px;
}